{
  "parser": "babrl-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off"
  },
  "extends": ["eslint:recommended", "google"]
}